.ui.borderless.topmenu.menu {
  background-color: #F7F7F7;
  box-shadow: none;
  border: none;
}

.ui.borderless.secondtop.menu {
  box-shadow: none;
  border: none;
}

.footer-background {
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.padded.item {
  margin-top: 20px;
}