.ui.borderless.topmenu.menu {
  background-color: #F7F7F7;
  box-shadow: none;
  border: none;
}

.ui.borderless.secondtop.menu {
  box-shadow: none;
  border: none;
}

.footer-background {
  background-color: white;
  height: 400px;
}

.colorblocktop {
  padding-top: 20px;
}